li {
  display: inline;
  padding: 10px;
  font-size: 18px;
  color: white;

}
li >  a {
  color: white;
}
.mynavBar {
  width:100% ;
  padding:10px ;
  /* background-color: chocolate; */
  background-color: navy;
  color: white;

}


.container99 {
   width : calc( 100% - 0px);
   padding:20px;
   background-color: darkseagreen;
   color: white;
   height: 100vh;

}
.glass {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.72);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.7px);
-webkit-backdrop-filter: blur(3.7px);
border: 1px solid rgba(255, 255, 255, 0.27);
}
